// Body Colors
$light_green_primary: hsl(153, 61%, 62%);
$light_green_secondary: hsl(163, 100%, 44%);
$dark_blue_primary: hsl(190, 100%, 12%);
$dark_blue_secondary: hsl(189, 74%, 18%);

// Secondary Colors
$white: #fff;
$light_blueish_white: hsl(164, 100%, 93%);
$light_blue_primary: hsl(185, 46%, 29%);

$card_border: rgba(38, 78, 118, 0.1);
$dark_blue: hsla(192, 58%, 15%, 10%);

$error_color: hsl(0, 84, 60);
