// Body Colors
$light_green_primary: hsl(153, 61%, 62%);
$dark_blue_primary: hsl(190, 100%, 12%);
$dark_blue_secondary: hsl(189, 74%, 18%);

// Secondary Colors
$white: #fff;
$light_blueish_white: hsl(164, 100%, 93%);

// Card Border
$dark_blue: hsla(192, 58%, 15%, 10%);
